.header {
  width: 100%;
  height: 18vh;
  background-color: #000000 !important;
  padding: 15px 50px;
  position: fixed !important; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

.header.scrolled {
  height: 12vh;
  background-color: rgba(0, 0, 0, 0.95) !important;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
}

.logo h2 {
  color: #f37335;
  margin: 0;
  font-size: 28px;
  cursor: pointer;
}

.navbar {
  display: flex;
  gap: 30px;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 15px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.navbar a:hover {
  background: #00bcd4;
  color: #1e1e2f;
  transform: translateY(-3px);
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    height: auto; /* Kuri telephone ireke yongere uburebure bitewe n'ibiyirimo */
  }

  .navbar {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }

  .navbar a {
    font-size: 16px;
  }
}
