.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #0d0202, #0b0102);
  z-index: 9999;
  transition: opacity 0.6s ease, visibility 0.6s ease;
}

.loading-container.fade-out {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.loader {
  text-align: center;
  position: relative;
}

.isometric-loader-wrapper {
  position: relative;
  width: 450px;
  height: 250px;
}

.isometric-svg {
  width: 100%;
  height: 100%;
  overflow: visible;
}

.bg-border {
  fill: #9e3d02;
  stroke: rgb(152, 152, 152);
  stroke-width: 3;
  box-shadow: 1vh 1vh 1vh red ;
}

.filling-border {
  fill: none;
  stroke: #0e170b; 
  stroke-width: 4;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 800; 
  stroke-dashoffset: 800;
  animation: drawBorder 10s linear forwards;
}

@keyframes drawBorder {
  0% {
    stroke-dashoffset: 800;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.loader-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) skewX(-32deg) rotateX(45deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.loader-text {
  color: #2b9006f3;
  font-size: 26px;
  font-weight: 800;
  font-family: 'Arial', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  animation: changecolor 3s ;
  filter: drop-shadow(0 0 1vh rgb(0, 0, 0));
}
@keyframes changecolor{
  0%{color: #fffffff3;}
  100%{color: #ffffff;opacity: 0.5;}
}

.loader-percentage {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  font-family: monospace;
  margin-top: 5px;
}