
.app.hidden {
  display: none;
}

.app.fade-in {
  animation: contentFadeIn 0.8s ease forwards;
}

@keyframes contentFadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  background: #0c0c0c;
  color: #333;
  overflow-x: hidden;
}

.app {
  width: 100%;
}

.section {
  min-height: 100vh;
  padding: 120px 10% 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#home {

 background-color:#030508;
  background-image: 
    linear-gradient(rgba(255, 255, 255, 0.03) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.03) 1px, transparent 1px),
    radial-gradient(circle at 50% 60%, rgba(255, 159, 0, 0.15), transparent 80%); /* Iyi izana glow isa n'umuhondo ijana n'izina ryawe */
  
  background-size: 40px 40px, 40px 40px, auto; /* Ingano ya buri square */
}

#about {

  background: #05090f;
  background: #030109;

}

#skills {

  background: #05090f;
=======

  background: #1a1919;

}


#projects {
  background:#05090f;
}
#testimonials {

  background: #05090f;
}

#contact {
  background: #05090f;
=======
  background: #1a1919;
=======
  background: #030109;
}

#projects {
  background: #030109;
}
#testimonials {
  background: #030109;
}

#contact {
  background: #030109;

  color: white;
  height: 90vh;
}